PSQL_HOSTNAME = 
PSQL_PORT = 
PSQL_DB = 
PSQL_USERNAME = 
PSQL_PASSWORD = 

QDRANT_HOST = 

CREATE_QDRANT_COLLECTION = 

client_id = reddit_client_id
client_secret = reddit_client_secret
user_agent = reddit_user_agent